<mat-card class="example-card">
    <div style="height: 200px; text-align: center">
        <img *ngIf="place.photos && place.photos[0].getUrl" style="max-height: 100%;     max-width: 100%; width: auto;" mat-card-image
            [src]=" place.photos[0].getUrl({maxWidth: 640})" alt="Photo of the place">
    </div>
    <mat-card-content>
        <p>
            {{place.name}}
        </p>
    </mat-card-content>
    <mat-card-actions style="text-align: left;">
        <button *ngIf="!isFavourite" (click)="favouriteChanged(true)" mat-button style="color: green">LIKE</button>
        <button *ngIf="isFavourite" (click)="favouriteChanged(false)" mat-button style="color:red">DISLIKE</button>
    </mat-card-actions>

    <mat-expansion-panel style="text-align: left">
        <mat-expansion-panel-header (click)="placeDetails(place.place_id)">
            <mat-panel-description>
                Click here to see the details..
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngIf="details" style="overflow: hidden">
            <div>
                    address: {{details.formatted_address}}
            </div>
            <div>
                    phone number: {{details.formatted_phone_number}}
            </div>
            <div>
                    rating: {{details.rating}}
            </div>
            <div>
                    website: {{details.website}}
            </div>
        </div>
    </mat-expansion-panel>
</mat-card>