.example-card{
    text-align: -webkit-center;
}
.parent { 
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
}
.parent div { 
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 300px; 
  margin: .5vw;
  padding: 10px;
}
.parent div mat-card { 
  /* width: 100%;  */
  height: auto; 
}
@media screen and (max-width: 400px) {
  .parent div { margin: 0; }
  .parent { padding: 0; }
  
}