<div class="parent">
    <div *ngFor="let place of searchResults">
        <app-nearby-place-card [place]="place" [isFavourite]="isFavourite(place.place_id)" (favourite)="updateFavouritePlace(place, $event)">

        </app-nearby-place-card>
    </div>
</div>