<div fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="center center" fxLayoutGap="10px">
    <mat-form-field class="full-width" fxFlex="15" fxFlex.xs="100" style="width: 100%">
        <mat-select placeholder="Place Type" [(value)]="selectedType">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let type of placeTypes" [value]="type.key">{{type.value}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width" fxFlex="15" fxFlex.xs="100" style="width: 100%">
        <mat-select placeholder="Sort Type" [(value)]="selectedSortType">
            <mat-option *ngFor="let type of sortTypes" [value]="type.key">{{type.value}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width" fxFlex="50" fxFlex.xs="100" style="width: 100%">
        <input placeholder="Search Place" [(ngModel)]="searchText" (ngModelChange)="searchSubject.next()" matInput [matAutocomplete]="auto">
        <mat-icon matSuffix>search</mat-icon>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of resultList" [value]="option.name">
                {{option.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <button class="full-width flex-item" fxFlex="10" fxFlex.xs="100" style="width: 100%" mat-stroked-button color="primary" (click)="onShowFavourites()">Favourites</button>
    
</div>